/* specific entry selector */
div {
  padding: 10px;
  background-color: #EEEEEE;
}

/* specific date selector */
p:nth-of-type(1) {
  color: #888888;
}

#wrapper {
  width: 60%;
  background-color: #DDDDDD;
}
