/* specific entry selector */
div {
  padding: 10px;
  background-color: #EEEEEE;
  font-family: 'Alef', 'sans-serif';
}

/* specific date selector */
span:nth-of-type(1) {
  color: #888888;
  font-size: 0.7em;
}

#wrapper {
  width: 45%;
  background-color: #DDDDDD;
  margin: 0px auto;
}
